.navBar {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  width: 100%;
  /* border: 1px solid rgb(0, 0, 0); */
}
.navBar > div:nth-child(1) {
  flex: 50%;
  /* border: 1px solid rgb(0, 0, 0); */
}
.navBar > div:nth-child(2) {
  flex: 50%;
  /* border: 1px solid rgb(0, 0, 0); */
}
.navBar > div:nth-child(2) > a {
  flex: 13%;
  margin: 3%;
  margin-top: 3%;
  text-align: left;
  text-decoration: none;
  color: rgb(37, 36, 36);
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  /* border: 1px solid rgb(0, 0, 0); */
}
.navBar > div:nth-child(1) > img {
  width: 150px;
  /* border: 1px solid rgb(0, 0, 0); */
  margin: 3%;
  margin-left: 10%;
}
@media screen and (max-width: 1200px) {
  .navBar > div:nth-child(1) {
    flex: 40%;
    /* border: 1px solid rgb(0, 0, 0); */
  }
  .navBar > div:nth-child(2) {
    flex: 60%;
    /* border: 1px solid rgb(241, 29, 29); */
  }
  .navBar > div:nth-child(2) > a {
    margin: 1%;
    margin-top: 3%;
  }
}
@media screen and (max-width: 900px) {
  .navBar > div:nth-child(1) {
    flex: 30%;
    /* border: 1px solid rgb(0, 0, 0); */
  }
  .navBar > div:nth-child(2) {
    flex: 70%;
    /* border: 1px solid rgb(241, 29, 29); */
  }
  .navBar > div:nth-child(2) > a {
    margin: 1%;
    margin-top: 3%;
  }
}
/* for small display: */
@media screen and (max-width: 500px) {
  .navbar {
    flex-direction: column;
  }
  .navBar > div:nth-child(1) {
    flex: 100%;
    /* border: 1px solid rgb(0, 0, 0); */
  }
  .navBar > div:nth-child(2) {
    flex: 100%;
    /* border: 1px solid rgb(241, 29, 29); */
  }
}
