:root{
    --primary-bg : #f3f5fb;
}
body{
    margin: 0;
}
.hero{
    background-image: url(https://assets.website-files.com/5e6c01bb5212506d6c119069/5e8115255836db2cd3bfd6b2_background.jpg);
    background-size: cover;
    height: 500px;
    max-width: 100%;
}
.container{
    max-width: 75%;
    margin: auto;
    padding-top: 30px;
    color: white;
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
}
.container > h1{
    font-size: 68px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 1px;
    margin-bottom: 0;
}
.container > p{
    font-weight: 300;
    margin: 40px;
    font-size: 30px;
}
.container > button{
    background-color: white;
    margin: auto;
    color: #9a76d0;
    letter-spacing: 2px;
    font-weight: 700;
    border-radius: 28px;
    border: 0px;
    margin-top: 0px;
    height: 50px;
    width: 25%;
}
.subheader{
    background-color: #f3f5fb;
    color: #6f8093;
    height: 60px;
    font-family: 'IBM Plex Serif', serif;
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
    font-weight: 400;
    margin: 20px;
}
.subheader > a{
    text-decoration: none;
    color: #9a76d0;
}
.content-container{
    text-align: center;
    margin: 0 5%;
}
.cards-container{
    /* margin: 0 10%; */
    display: flex;
}
.card{
    margin: 5%;
}
.content-container > a{
    padding: 15px 25px;
    margin-top: 5rem;
    font-family: 'IBM Plex Serif', sans-serif;
    /* word-spacing: 3px; */
    letter-spacing: 1px;
    font-size: 12px ;
    font-weight: 500;
    border: 3px solid #9a76d0;
    text-decoration: none;
    color: #9a76d0;
    border-radius: 50px;
}
.content{
    height: 250px;
    background-color: var(--primary-bg);
}
.faded-content-container{
    display: flex;
    opacity: 0;
}